@import "tailwindcss";

:root {
  --background: #f9da49;
  --foreground: #171717;
}

@theme {
  --font-roboto: var(--font-roboto);
  --font-pokemon-solid: var(--font-pokemon-solid);
  --font-pokemon-hollow: var(--font-pokemon-hollow);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f9da49;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto), sans-serif;
}
